body{
    background-image: url("kameleon.jpg");
    background-size: cover;
    margin: 0;
    background-position: center top;
    object-fit: cover;
  }
  .list-group-item{
      font-size: 20px;
      color:#8f4326;
  }
  .card{
    margin-left: 2%;
    margin-top: 200px; 
    background-color: #d7c79e;
    
  }
  .card-title{
    font-size: 27px;
    color: #8f4326;
    font-weight: 700;
  }
  /* #dugme1{
      position: fixed;
  } */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d7c79e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }  
  
  input:checked + .slider {
    background-color: #af7c5b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #af7c5b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #polje{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d7c79e;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border-style: solid;
  }
  #poljetext{
    margin-top: -1px;
    text-align: center;
  }
  